doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDF3doOaUu74NA_lIzbqpNY1s5xOyyVACw&callback=initializeMap', async, defer)
  body
    block content